@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&family=Playpen+Sans:wght@400;600;700&display=swap");

:root {
  --primary-color: #f9cf59;
  --secondary-color: #175f92;
  --grey-color: grey;
  --primary-font-family: "Kalam", cursive;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: var(--primary-font-family);
}

/* ---container-center--- */

.container-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ---Header--- */
.header {
  display: flex;
  background-color: var(--primary-color);
  justify-content: center;
  /* margin-bottom: 3rem; */
}

.header h1 {
  padding: 0.8rem 0 0 0;
  color: var(--secondary-color);
  margin: 0px 0px;
  text-align: center;
  margin-left: -2rem;
  font-weight: 700;
  font-size: 2.5rem;
}

header img {
  padding: 1rem;
  width: 6%;
  height: auto;
}

/*---main--- */
main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 40%;
  transform: translate(0, -40%);
}

#user-input {
  width: 30vw;
  height: 32vh;
  border: 1px solid gray;
  padding: 0.5rem;
  resize: none;
  overflow-y: scroll;
}

.output-div-heading {
  margin: 0.5rem;
  color: var(--grey-color);
}

#output-container {
  width: 30vw;
  height: 30vh;
  border: 1px solid gray;
  padding: 1rem;
  overflow-y: scroll;
}

/* ---button--- */
.button_img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button_img-container img {
  width: 10%;
  transition: all .3s ease-in-out;
}


#btn-translate {
  padding: 0.5rem 2.5rem;
  border-radius: 1px;
  background-color: var(--primary-color);
  border-style: none;
  color: var(--secondary-color);
  cursor: pointer;
  font-family: var(--primary-font-family);
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  transition: all 0.3s ease-in-out;
}

#btn-translate:hover {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  box-shadow: 0 0.5em 0.5em -0.4em var(--secondary-color);
  transform: translateY(-0.25em);
}

#btn-translate:hover + img {
  transform: scale(1.1, 1.1);
}



/* ---footer--- */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* margin-top: 3rem; */
  margin-bottom: 0rem;
  background-color: var(--primary-color);
}

footer h2 {
  margin-bottom: 0rem;
  color: var(--secondary-color);
  text-align: center;
}

footer p {
  text-align: center;
  max-width: 40%;
  margin-top: 0rem;
  padding: 0.5rem;
  font-weight: 400;
  color: var(--secondary-color);
}
